#table-numbering{
    color: rgb(99, 102, 102);
    text-align: center;
    width: 10px;
    font-size: small;
  }
  #news-username{
    font-size: small;
    color: rgb(99, 102, 102);
  }
  .reported{
    color: red;
  }
  #news-username-link{
    color: rgb(99, 102, 102);
    text-decoration: none;
  }
  #news-username-link:hover{
    text-decoration: underline;
  }
  #news-table{
    width: 85%;
    background: rgb(246, 246, 239);
  }
  .additional-height-user{
    height: 15px;
  }
  .user-details-label{
    padding-left: 10px;
    width: 6%;
    color: rgb(99, 102, 102);
  }
  /* .loader{
    margin: auto;
    width: 80%;
    height: 50px;
    text-align: center;
  } */
  #post-detail-loader{
    margin-left: 20%;
    float: left;
    text-align: center;
  }
.create-link:hover{
  cursor: pointer;
  text-decoration: underline;
}
#arrow-image{
  height: 11px;
  width: 10px;
}
.arrow-col{
  width: 10px;
}
.upvote-image-link:hover{
  cursor: pointer;
}
.post-link{
  text-decoration: none;
  color: black;
}
.post-details-page-table{
  padding-top: 20px;
  padding-bottom: 20px;
}
#add-comment-textarea{
  display: inline-block;
}
#add-comment-div{
  padding-top: 10px;
}
#add-comment-button{
  display: inline-block;
}
#red-star-upvote{
  font-weight: bold;
  color: rgb(41 206 90);
}