#table-numbering{
    color: rgb(99, 102, 102);
    text-align: center;
    width: 10px;
    font-size: small;
  }
  #news-username{
    font-size: small;
    color: rgb(99, 102, 102);
  }
  #news-username-link{
    color: rgb(99, 102, 102);
    text-decoration: none;
  }
  #news-username-link:hover{
    text-decoration: underline;
  }
  #news-table{
    width: 85%;
    background: rgb(246, 246, 239);
  }
  .additional-height-user{
    height: 15px;
  }
  .user-details-label{
    padding-left: 10px;
    width: 6%;
    color: rgb(99, 102, 102);
  }
.loader{
  margin: auto;
  width: 80%;
  height: 100px;
  text-align: center;
}
#show-user-posts-toggle{
  padding-left: 10px;
  width: 100px;
  margin-bottom: 20px;
}
#show-user-posts-toggle:hover{
   text-decoration: underline;
   cursor: pointer;
}
#posts-table{
  width: 85%;
  background: rgb(246, 246, 239);
  padding-top: 20px;
  padding-bottom: 20px;
}