#hacker-news-logo{
    width:18px;
    padding-right:4px
}
#hacker-news-image{
    border:1px white solid;
    width:18px;
    height:18px
}
#hacker-news-heading{
    line-height:12pt;
    height:10px;
    font-weight:bolder;
    width: 10%;
    padding-right: 5px;
}
#navbar-table{
    height: 10px;
    width: 85%;
    margin-left: 7.5%;
    margin-left: 7.5%;
    margin-top: 10px;
    padding:2px;
    background: #ff6600;
    color: rgb(0, 0, 0); 
}
.navbar-item-separator{
    text-align: center;
    padding-left: 3px;
    padding-right: 3px;
}
.navbar-items{
    padding-right: 0%;
    color: black;
    text-decoration: none;
}
.navbar-items:active{
    padding-right: 0%;
    width:0%;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.nav-links{
    color: black;
    text-decoration: none;
}
.nav-links:hover{
    text-decoration: underline;
}
.nav-links:active{
    color: white;
    text-decoration: none;
}
#last-item{
    padding-right: 5px;
    text-align: right;
    width: auto;
}
#navbar-bottom-space{
    height: 10px;   
}