#news-table{
    width: 85%;
    background: rgb(246, 246, 239);
}
.additional-height-comments{
    height: 12px;
}
#post-name-comments{
    font-size: small;
    color: rgb(99, 102, 102);
}
#upvote-arrow{
    width: 10px;
    height: 10px;
    border: 0px;
    margin: 3px 2px 6px;
}
#comments-username-link{
    color: rgb(99, 102, 102);
    text-decoration: none;
}
#comments-username-link:hover{
    text-decoration: underline; 
}
.loader{
    margin: auto;
    width: 80%;
    height: 100px;
    text-align: center;
}
.create-link:hover{
    cursor: pointer;
    text-decoration: underline;
  }
#col1-comments{
    padding-left: 5px;
    width: 12px;
}
#red-star-upvote{
    font-weight: bold;
    color: rgb(41 206 90);
}