#submit-table{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 85%;
    background: rgb(246, 246, 239);
}
.submit-form-label{
    padding-left: 10px;
    width: 50px;
}
.submit-form-input-cell{
    width: auto;
}
.submit-form-input{
    width: 400px;
}
#submit-page-button{
    margin-top: 10px;
}