.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
/* #hacker-news-logo{
  width:18px;
  padding-right:4px
}
#hacker-news-image{
  border:1px white solid;
  width:18px;
  height:18px
}
#hacker-news-heading{
  line-height:12pt;
  height:10px;
  font-weight:bolder;
  width: 10%;
}
#navbar-table{
  height: 10px;
  width: 85%;
  margin-left: 7.5%;
  margin-left: 7.5%;
  margin-top: 10px;
  padding:2px;
  background: #ff6600;
  color: rgb(0, 0, 0); 
}
.navbar-item-separator{
  text-align: center;
  width: 10px;
}
.navbar-items{
  padding-right: 0%;
  width:0%;
  color: black;
  text-decoration: none;
}
.navbar-items:active{
  padding-right: 0%;
  width:0%;
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.nav-links{
  color: black;
  text-decoration: none;
}
.nav-links:active{
  color: white;
  text-decoration: none;
}
#last-item{
  width: 50%;
}
#navbar-bottom-space{
  height: 10px;
} */
/*#news-table{
  width: 85%;
  background: rgb(246, 246, 239);
}
#table-numbering{
  color: rgb(99, 102, 102);
  text-align: center;
  width: 10px;
  font-size: small;
} 
#news-username{
  font-size: small;
  color: rgb(99, 102, 102);
}
#news-username-link{
  color: rgb(99, 102, 102);
  text-decoration: none;
}
#news-username-link:hover{
  text-decoration: underline; 
}*/
/* .user-details-label{
  padding-left: 10px;
  width: 6%;
  color: rgb(99, 102, 102);
} */
/* .additional-height-user{
  height: 15px;
} */
/* .additional-height-comments{
  height: 12px;
} */
/* #post-name-comments{
  font-size: small;
  color: rgb(99, 102, 102);
}
#upvote-arrow{
  width: 10px;
  height: 10px;
  border: 0px;
  margin: 3px 2px 6px;
  background: url("https://news.ycombinator.com/grayarrow.gif") no-repeat;
} */
/* .additional-height-post{
  height: 15px;
}
.post-details-label{
  padding-left: 10px;
  width: 6%;
  color: rgb(99, 102, 102);
} */
/* .comment-email{
  width: 10px;
}
#upvote-arrow-news{
  float: left;
  width: 10px;
  height: 10px;
  display: inline;
  background: url("https://news.ycombinator.com/grayarrow.gif") no-repeat;
  vertical-align: bottom;
  
} */