#error{
    color: red;
    padding-bottom: 10px;
}
.master-div{
    background: rgb(246, 246, 239);
    margin: auto;
    width: 84%;
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom: 2%;
}
/* .master-div::after {
    content: "";
    clear: both;
    display: table;
} */
.label{
    padding-bottom: 10px;
}
.input{
    margin-bottom: 10px;
    width: 30%;
    height: 30px;
}
.button1{
    background-color: #757575; /* Green */
    border: none;
    border-radius: 6px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    margin-right: 20px;
}
.button2{
    background-color: #757575; /* Green */
    border: none;
    border-radius: 6px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.button1:hover{
    background-color: #505050; 
    border: none;
    border-radius: 6px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    margin-right: 20px;
}
.button2:hover{
    background-color: #505050; 
    border: none;
    border-radius: 6px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.disableButton{
    background: #afafaf;
    cursor: not-allowed;
}
.disableButton:hover{
    background: #afafaf;
    cursor: not-allowed;
}
